<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>美食網</title>
	<div th:include=" script :: script"></div>

 	<script th:inline="javascript">

 		$(function() {
			$("#regionData").val(JSON.stringify([[${allRegion}]]));

 		})




 	</script>
 	<script type="text/javascript" th:src="@{/js/foodClient.js(sys_date=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}"></script>
 	<script type="text/javascript" th:src="@{/js/userClient.js(sys_date=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}"></script>
	<script type="text/javascript" th:src="@{/js/foodModule.js(sys_date=${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')})}"></script>
</head>
<body>
 <input type="hidden" id="regionData"></input>


 <div th:include=" food/modal :: modal"></div>

	<div class="container">
		<div th:include=" header :: header"></div>

		<div class="row" th:if="${#fields.hasErrors('${userForm.*}')}">
			<div class="col-md-12">
				<div class="alert alert-danger">
					<div th:errors="${userForm.*}">...</div>
				</div>
			</div>
		</div>


		<div class="row" th:if="${param.error != null}">
			<div class="col-md-12">
				<div class="alert alert-danger">
					登入失敗，請確認輸入的帳號密碼
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						  <div class="panel-group">
						    <div class="panel panel-default">
						      <div class="panel-heading">種類</div>
						      <div class="panel-body">
						      	<ul style="list-style-type:none">
						      		<li th:each="item, status : ${allFoodCategory}" style="margin-left: 0px;">
						      			<a th:id="'categoryId_' + ${item.id}" href="#">[[${item.title}]]</a>
						      		</li>
						      	</ul>
						      </div>
						    </div>


						    <div class="panel panel-success">
						      <div class="panel-heading">地區</div>
						      <div class="panel-body">
								<div id="tree"></div>
						      </div>
						    </div>

						  </div>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						  <div class="panel-group">

						    <div class="panel panel-success">
						      <div class="panel-heading">地區
						      	<span style="float: right;">
						      	每頁顯示數量:
						      	<select data-bind="options: pageSizeSelection, selectedOptions: size, event: {'change': updatePage}">

						      	</select>
						      	</span>
						      </div>
						      <div class="panel-body">

								<div data-bind="foreach: foodArray">
						            <div class="row row-margin-bottom">
							            <div class="col-md-10 col-md-offset-1 no-padding lib-item" data-category="view">
							                <div class="lib-panel">
							                    <div class="row box-shadow" style="margin: 0px;">
							                        <div class="col-md-5">
							                            <img data-bind="attr:{'src': root + '/images/foodImages/' + image}">
							                        </div>
							                        <div class="col-md-7">
							                            <div class="lib-row lib-header">
															<span data-bind="text: title"></span>
							                            </div>
							                            <hr />

							                            <div class="lib-row lib-desc" data-bind="text: description">

							                            </div>
							                        </div>
							                    </div>

							                </div>
							            </div>
						        	</div>
								</div>

								<ul class="pager">
								  <li data-bind="if: page() > 1"><a href="#" data-bind="click: prevPage">[[#{food.button.prevPage}]]</a></li>
								  <li data-bind="if: page() < totalPage()"><a href="#" data-bind="click: nextPage">[[#{food.button.nextPage}]]</a></li>
								</ul>

						      </div>
						    </div>

						  </div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
					    <div class="panel panel-default">
						      <div class="panel-heading">[[#{food.block.label.news}]]</div>
						      <div class="panel-body">
								<ul>
									<li><a href="#">A.................</a></li>
									<li><a href="#">B.................</a></li>
									<li><a href="#">C.................</a></li>
									<li><a href="#">D.................</a></li>
									<li><a href="#">E.................</a></li>
									<li><a href="#">F.................</a></li>
								</ul>



						      </div>
						    </div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-center bg-success" style="font-size: 20px;">[[#{footer.copyright}]] <a href="http://www.ipeen.com.tw/">愛評網</a></p>
			</div>
		</div>
	</div>
</body>
</html>





